<div class="col-12">
  <div class="row">
    <div class="col-6">
      <button routerActive="active" routerLink="/home/conta/editar"
        class="btn btn-default col-12 text-center">
        <span style="font-size: 100px ; color: rgb(35, 132, 230);">
          <i class="fas fa-user-edit"></i>
        </span>
      </button>
      <label class="col-12 text-center">Perfil</label>
    </div>
    <div class="col-6">
      <button routerActive="active" routerLink="/home/ocorrencia/cadastrar"
        class="btn btn-default col-12 text-center">
        <span style="font-size: 100px ; color: rgb(240, 10, 10);">
          <i class="fas fa-bell"></i>
        </span>
      </button>
      <label class="col-12 text-center">Nova Ocorrência</label>
    </div>
    <div class="col-6">
      <button routerActive="active" routerLink="/home/ocorrencia/relatorio" class="btn btn-default col-12 text-center">
        <span style="font-size: 100px ; color: rgb(31, 196, 218);">
          <i class="fas fa-newspaper"></i>
        </span>
      </button>
      <label class="col-12 text-center">Relatório</label>
    </div>
    <div class="col-6">
      <button routerActive="active" routerLink="/home/maps"
        class="btn btn-default col-12 text-center">
        <span style="font-size: 100px ; color: rgb(56, 233, 50);">
          <i class="fas fa-map-marked-alt"></i>
        </span>
      </button>
      <label class="col-12 text-center">Mapa</label>
    </div>
  </div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>