<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="col-12 card mt-5">
  <div class="card-body">
    <form class="form-group" (ngSubmit)='save()' [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-12">
          <label>Nome</label>
          <input formControlName="nome"  type="text" class="form-control" placeholder="Nome" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12" *ngIf="this.authService.isAdmin()">
          <label>Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group col-6">
          <label>Senha</label>
          <input formControlName="senha" type="password" class="form-control" placeholder="Senha" required>
        </div>
        <div class="form-group col-6">
          <label>Confirme</label>
          <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirme a senha" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Matricula</label>
          <input formControlName="matricula" type="text" class="form-control" placeholder="Matricula" required>
        </div>
        <div class="form-group col-6">
          <label>Telefone</label>
          <input formControlName="telefone" type="text" class="form-control" placeholder="Telefone" required>
        </div>
      </div>
      <button type="submit" class="btn btn-info">Cadastrar</button>
    </form>
  </div>
</div>